---
layout: default
disqus: false
archive: true
---

<article class="post">
    <header>
        <h1>{{ page.title }}</h1>
        <h2 class="headline">{{ page.date | date:"%B %-d, %Y" }}</h2>
    </header>
    <section id="post-body">
        {{content}}

        <br/>
        <!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
    #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
    /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
       We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//alexmarcy.us11.list-manage.com/subscribe/post?u=6af85ab9d47c39b1606b51f76&amp;id=1a190e1d8b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
    <label for="mce-EMAIL">Subscribe to receive updates via email</label>
    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_6af85ab9d47c39b1606b51f76_1a190e1d8b" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
    </section>
</article>
<footer id="post-meta" class="clearfix">
    <a href="http://twitter.com/{{ site.authorTwitter }}">
        <img class="avatar" src="/assets/images/avatar.png">
        <div>
            <span class="dark">{{ site.author }}</span>
            <span>{{ site.description }}</span>
        </div>
    </a>

    <section id="sharing">
        {% include share.html %}
    </section>
</footer>

<!-- Disqus comments -->
{% if page.disqus %}
    <div class="archive readmore">
        <h3>Comments</h3>
        {% include disqus.html %}
    </div>
{% endif %}

<!-- Archive post list -->
{% if page.archive %}
    <ul id="post-list" class="archive readmore">
        <h3>Read more</h3>
        {% for post in site.posts %}
            <li>
                <a href="{{ post.url }}">{{ post.title }}<aside class="dates">{{ post.date | date:"%b %d" }}</aside></a>
            </li>
        {% endfor %}
    </ul>
{% endif %}



